parametersSchema:
	phpstanJsonSchema: structure([
		outputDirectory: string()
	])

parameters:
	phpstanJsonSchema:
		outputDirectory: %currentWorkingDirectory%/output

services:
	-
		class: PhpStanJsonSchema\Mapper\IntegerTypeMapper
		tags:
			- phpstan_json_schema.type_mapper

	-
		class: PhpStanJsonSchema\Mapper\TypeMapperRegistry
		arguments:
			mappers: tagged(phpstan_json_schema.type_mapper)

	-
		class: PhpStanJsonSchema\Builder\ClassSchemaBuilder
		arguments:
			typeMapper: @PhpStanJsonSchema\Mapper\TypeMapperRegistry

	-
		class: PhpStanJsonSchema\Collector\SchemaCollector
		tags:
			- phpstan.collector

	-
		class: PhpStanJsonSchema\Writer\DirectorySchemaWriter
		arguments:
			outputDirectory: %phpstanJsonSchema.outputDirectory%

	-
		class: PhpStanJsonSchema\Rule\SchemaAggregatorRule
		tags:
			- phpstan.rule

	-
		class: PhpStanJsonSchema\Rule\SchemaAggregatorRule
		tags:
			- phpstan.rules.rule
