name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    name: PHP 8.5
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write 
      actions: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          tools: composer:v2, cs2pr
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=php
      - name: Check code format
        run: composer format -- --dry-run --format=checkstyle | cs2pr
      - name: Static Analysis
        run: composer lint -- --error-format=github
      - name: Run Tests
        run: composer test
