name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  format:
    name: Format (PHP-CS-Fixer)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          tools: composer:v2, cs2pr
          coverage: none
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=php
      - name: Check code format
        run: composer format -- --dry-run --format=checkstyle | cs2pr

  lint:
    name: Lint (PHPStan)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          tools: composer:v2, cs2pr
          coverage: none
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=php
      - name: Static Analysis
        run: composer lint -- --error-format=github

  test:
    name: Test (PHPUnit & Coverage)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          tools: composer:v2
          coverage: xdebug
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ignore-platform-req=php
      - name: Run Tests
        run: composer test:coverage
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./junit.xml
          report_type: test_results
          fail_ci_if_error: true
          verbose: true
